<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <title>Home Page</title>
  <script>
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>
</head>

<body>
  <% if(message!="") {%>
    <div class="alert alert-success"> 
      <%=message%>
    </div>
    <%}%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark background">
    <div class="container">
      <a class="navbar-brand " href="#">Talented-Pak</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navmain" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item navmain">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item navmain">
            <a class="nav-link" href="/latest">Latest Jobs</a>
          </li>
          <li class="nav-item navmain">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item navmain">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          </ul>
          <button type="button" class="btn btn-outline-primary navbtn" style="color: white;">Contact Us</button>
         <form method="Post" action="/signout">
          <input type="submit" value="Logout" class="btn btn-lg btn-outline-danger" style="color: white; margin-left: 10px;" >
         </form>
          

      </div>
    </div>
  </nav>
  <div class="container-fluid background pt-5 banner ">

    <figure class="text-center backgroundsty pt-5">
      <blockquote class="blockquote pt-5">
        <h1 style="font-size: 50px;">A Powerful Career Website</h1>
      </blockquote>
      <figcaption class="blockquote-footer backgroundsty pt-3" style="font-size: 30px;">
        Find your dream jobs in our powerful career website <cite title="Source Title"></cite>
      </figcaption>
    </figure>
    <form method="POST" action="/search" class="row g-3 d-flex justify-content-center pt-5">

      <div class="col-auto pt-5">
        <label for="Job" class="visually-hidden">Job Title</label>
        <input id="JOBSEARCH" name="JOBSEARCH" type="text" class="form-control" id="inputPassword2" placeholder="Job Title">
      </div>

      <div class="col-auto pt-5">
        <button type="submit" class="btn btn-lg btn-primary mb-3">Search</button>
      </div>
    </form>

  </div>
  <div class="container-fluid   pt-5 mt-5 background2 ">

    <figure class="text-center backgroundsty pt-5">
      <blockquote class="blockquote">
        <h1>Careers Statistics</h1>
      </blockquote>
      <h3 class="blockquote backgroundsty pt-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde officiis recusandae sequi excepturi
        corrupti. <cite title="Source Title"></cite>
      </h3>
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>1,930</h1>
          </div>
          <div class="col">
            <h1>54</h1>
          </div>
          <div class="col">
            <h1>120</h1>
          </div>
          <div class="col">
            <h1>550</h1>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">Candidates</div>
            <div class="col">Jobs Posted</div>
            <div class="col">Jobs Filled</div>
            <div class="col">Companies</div>
          </div>
    </figure>
  </div>
  <% data.forEach(data=> { %>
    <div class="container mt-5">

      <div class="row mt-2 g-1">
        <div class="col-md-12">
          <div class="card p-2">
            
            <div class="container card mt-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"> <%= data.JOBNAME %></h5>
                <h6 class="card-subtitle mb-2 text-muted"> <%= data.JOBTYPE %></h6>
                <p class="card-text"> <%= data.PUBLISHER %>,  <%= data.CATEGORY %></p>
                <a href="#" class="card-link" style="text-decoration:none;" >  <%= data.CITY %> </a>
                <a href="#" class="card-link" style="text-decoration:none;"><%= data.DATE %></a>
              </div>
              <a href="/apply/<%=data.ID%>" class="btn btn-lg btn-outline-primary">Apply Now</a>
            </div>
           
          </div>
        </div>
      </div>
    </div>
    <% }) %>
    <nav aria-label="Page navigation">
      <ul class="pagination d-flex justify-content-center mt-5">
        <li class="page-item <%=(page==1)?`disabled`:``%>">
          <a class="page-link" href="/?page=<%=(page==1)?`1`:`${page-1}`%>" tabindex="-1">Previous</a>
        </li>
      <% for(let pageCount=1; pageCount<=totalPages; pageCount++){ %>
      <%if(pageCount==page) {%>
        <li class="page-item active">
          <a class="page-link" href="#"><%= pageCount%><span class="sr-only">(current)</span></a>
        </li>
      <%}%>
      <%}%>
      <li class="page-item <%=(page==totalPages)?`disabled`:``%>">
        <a class="page-link" href="/?page=<%=(page==totalPages)?`totalPages`:`${Number(page)+1}`%>">Next</a>
      </li>
   
    </ul>
  </nav>
      <div class="container-fluid   pt-5 mt-5  ">

        <figure class="text-center  pt-5">
          <blockquote class="blockquote">
            <h1>Our Candidates Work In Company</h1>
          </blockquote>
          <h3 class="blockquote  pt-4">
            Porro error reiciendis commodi beatae omnis similique voluptate rerum ipsam fugit mollitia ipsum facilis
            expedita tempora suscipit iste </h3>
          <div class="container">
            <div class="row">
              <div class="col">
                <h1><img src="/img/fish.png" alt="PICTURE NOT LOADED" style="size: 50px;"></h1>
              </div>
              <div class="col">
                <h1><img src="/img/golden.png" alt="PICTURE NOT LOADED" style="size: 50px;"></h1>
              </div>
              <div class="col">
                <h1><img src="/img/huwaie.png" alt="PICTURE NOT LOADED" style="size: 50px;"></h1>
              </div>
              <div class="col">
                <h1><img src="/img/tiger.png" alt="PICTURE NOT LOADED" style="size: 50px;"></h1>
              </div>
            </div>

        </figure>
      </div>
      <div class="container mt-5">
        <figure class="text-center  pt-5">
          <blockquote class="blockquote">
            <h1>Our Team</h1>
          </blockquote>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="/img/Hamza.jpg" class="card-img-top" style="size:100px" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hamza Akthar</h5>
                  <p class="card-text">HEAD OF LISTINGS</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 24rem;">
                <img src="/img/abudllah.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Muhammad Abullah</h5>
                  <p class="card-text">CEO</p>

                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" style="width: 24rem;">
                <img src="/img/goraya.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Ajlal Haider</h5>
                  <p class="card-text">Co CEO</p>

                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="container-fluid   pt-5 mt-5 background2 ">

        <figure class="text-center backgroundsty pt-5">
          <blockquote class="blockquote">
            <h1>Looking For Job ?</h1>

            <h3 class="blockquote backgroundsty pt-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde officiis recusandae sequi excepturi
              corrupti. <cite title="Source Title"></cite>
              <button type="button" class="btn btn-lg btn-warning">Sign Up</button>
            </h3>

        </figure>
        </blockquote>

      </div>

      <!-- Remove the container if you want to extend the Footer to full width. -->
      <div class="container-fluid mt-5">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white" style="background-color: #343a40">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
              <!--Grid row-->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">
                    Talented-Pak
                  </h6>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo temporibus totam, voluptatibus
                    rem minus fugiat in quia eveniet voluptas ea fuga blanditiis dignissimos soluta aliquid quos tenetur
                    repellat, quidem necessitatibus.
                    Ab mollitia debitis eveniet cum iure laboriosam rerum nobis, minima, officiis ipsa magnam quas nam!
                    Eaque enim soluta earum quidem hic iusto. Quas similique facilis maiores rem expedita iusto numquam?
                  </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Company</h6>
                  <p>
                    <a class="text-white">About Us</a>
                  </p>
                  <p>
                    <a class="text-white">Career</a>
                  </p>
                  <p>
                    <a class="text-white">Blog</a>
                  </p>
                  <p>
                    <a class="text-white">Resources</a>
                  </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">
                    Support
                  </h6>
                  <p>
                    <a class="text-white">Support</a>
                  </p>
                  <p>
                    <a class="text-white">Privacy</a>
                  </p>
                  <p>
                    <a class="text-white">Terms of Service</a>
                  </p>
                  <p>
                    <a class="text-white">Help</a>
                  </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none" />

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                  <p> New York, NY 10012, US</p>
                  <p> Talented-Pak@gmail.com</p>

                </div>
                <!-- Grid column -->
              </div>
              <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
              <div class="row d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-7 col-lg-8 text-center text-md-start">
                  <!-- Copyright -->
                  <div class="p-3">
                    © 2020 Copyright:
                    <a class="text-white" href="#">Talented-Pak</a>
                  </div>
                  <!-- Copyright -->
                </div>

              </div>
            </section>
            <!-- Section: Copyright -->
          </div>
          <!-- Grid container -->
        </footer>
        <!-- Footer -->
      </div>
      <!-- End of .container -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>





</body>

</html>